
/*
---
name: Checkbox
category: Formulaires
---

```html
<div class="form__row">
  <fieldset class="fieldset">
    <legend>Options &ndash; Cases à cocher</legend>

    <div class="options__row">
      <input type="checkbox" value="" name="cb-1" id="cb-1" class="input--checkbox" checked />
      <label for="cb-1">Option 1</label>
    </div>

    <div class="options__row">
      <input type="checkbox" value="" name="cb-2" id="cb-2" class="input--checkbox" />
      <label for="cb-2">Option 2</label>
    </div>

  </fieldset>
</div>
```

```sass
@include checkbox;
```
*/

$cb-size: 20px;


@mixin checkbox {

  &:not(:checked),
  &:checked {

    // Hide standard input
    position: absolute;
    left: -9999px;

    // Label
    + label {
      cursor: pointer;
      position: relative;
      padding-left: 24px;

      // Box
      &:before {
        content: '';
        position: absolute;
        left: 2px;
        top: 2px;
        width: $cb-size;
        height: $cb-size;
        border: 1px solid $inputs-borders;
        background: #fff;
      }

      // Hover
      &:hover {

        &:before {
          background-color: $light-bg;
        }

        &:after {
          background-color: darken($brand, 5%);
        }
      }

      // Check
      &:after {
        content: '';
        width: 12px;
        height: 12px;
        background: $brand;
        position: absolute;
        top: 4px;
        left: 4px;
        line-height: 1.2;

        animation-name: check;
        animation-duration: 300ms;
        animation-timing-function: ease-out;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }


    // Focus
    &:focus {

      + label {

        &:before {
          background-color: $light-bg;
        }

        &:after {
          background-color: darken($brand, 5%);
        }
      }
    }
  }


  // Not checked
  &:not(:checked) + label:after {
    display: none;
  }


  // Checked
  &:checked + label:after {
    display: block;
  }


  // Disabled
  &[disabled]:not(:checked),
  &[disabled]:checked {

    + label {
      color: #ccc;

      &:before {
        background-color: #aaa;
      }

      &:after {
        color: #eee;
        background-color: #ddd;
      }
    }
  }


  // Checkbox à droite
  &:not(:checked) + label.checkbox-right,
  &:checked + label.checkbox-right {
    padding-left: 0;
    padding-right: 20px;

    // Box
    &:before {
      left: auto;
      right: 0;
    }

    // Check
    &:after {
      left: auto;
      right: 2px;
    }
  }


  // Checkbox sans label visible
  &:not(:checked) + label.label-hidden,
  &:checked + label.label-hidden {
    margin-right: 0;

    span {
      @include hide-text;
    }
  }

  // Animation definition.
  @keyframes check {
    from {
      transform: scale(0);
      border-radius: 50%;
    }

    50% {
      transform: scale(1.1);
      border-radius: 50%;
    }

    to {
      transform: scale(1);
      border-radius: 2px;
    }
  }

} // /@mixin checkbox
