
/*
---
name: Liste de choix
category: Formulaires
---

```html
<div class="form__row">
  <label class="label--block">Liste de choix</label>
  <select name="select-1" class="input--select input--wide">
    <option value="o1">Option 1</option>
    <option value="o2">Option 2</option>
    <option value="o3">Option 3</option>
  </select>
</div>
```

```sass
@include select;
```
*/
@mixin select {
  max-width: 100%;
  appearance: none;
  padding: 5px 10px;
  border: 1px solid $inputs-borders;
  border-radius: 0;
  color: $base-color;
  background-image: url('../img/select-arrows.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;

  // Remove IE arrows.
  &::-ms-expand {
    display: none;
  }
}


// Select disabled theme.
@mixin select-disabled {
  background: #aaa;
  color: #555;
}
