
<header class="main-header" role="banner">

  <h1 class="main-title" contenteditable="true" @blur="updateTitle($event.target.innerHTML)">{{ title }}</h1>
  <button type="button" class="header__btn" @click.prevent="showModal('options')" v-if="!options_visible"><span class="visually-hidden">Options</span><span>Options&hellip;</span></button>

</header>


<div class="modal modal--options" :class="[{ 'modal--is-visible': options_visible }, modal_name]">

  <div class="modal__close-wrap">
    <button type="button" @click.prevent="hideModal('options')" class="btn-close"><span class="visually-hidden">Fermer</span></button>
  </div>

  <div class="modal__inner">

    <section class="other-players" v-if="options_filter == 'all'">

      <template v-if="inactive_player_count">
        <div class="other-players__active">

          <h2 class="other-players__title">Joueurs inactifs</h2>

          <ul class="other-players__list other-players__list--inactives">
            <other_player
              v-for="player in players"
              :player="player"
              :key="player.id"
              v-if="!player.visible">
            </other_player>
          </ul>

        </div>

      </template>


      <template v-if="player_count">
        <div class="other-players__inactive">

          <h2 class="other-players__title">Joueurs actifs</h2>

          <ul class="other-players__list">
            <other_player
              v-for="player in players"
              :player="player"
              :key="player.id"
              v-if="player.visible">
            </other_player>
          </ul>

        </div>
      </template>

    </section>


    <section class="app__option app__option--new-player" v-if="options_filter == 'all'">

      <h2 class="other-players__title">Nouveau joueur</h2>
      <button type="button" class="btn-brand btn--wide" @click.prevent="addPlayer">Ajouter un joueur</button>

    </section>


    <section class="app__option app__option--score-limit" v-if="options_filter == 'all' || options_filter == 'score_limit'">

      <h2 class="other-players__title" id="score-limit-label">Limite de score</h2>
      <input type="number" class="option__input" @blur="updateScoreLimit($event.target.value)" :value="score_limit" aria-label="Limite de score">

      <div class="btn-wrap align-center">
        <button type="button" class="btn-brand btn--wide" @click.prevent="hideModal('options')">Fermer</button>
      </div>

    </section>


    <section class="app__option app__option--share" v-if="options_filter == 'all'">

      <h2 class="other-players__title">Partager l'application</h2>
      <div class="app__qrcode-wrap">
        <img src="assets/img/qrcode.jpg" alt="QRCode">
      </div>

    </section>



    <section class="app__option option__winner" v-if="options_filter == 'winner'">

      <h2 class="other-players__title">Nous avons un gagnant&nbsp;!</h2>

      <div class="winner__name">{{ winner.name }}&nbsp;!</div>

      <div class="btn-wrap align-center">
        <button type="button" class="btn-brand" @click.prevent="play_again">Nouvelle partie</button>
      </div>

    </section>


    <section class="app__option option__confirm" v-if="options_filter == 'confirm'">

      <h2 class="other-players__title">Ajouter/retirer des points</h2>

      <div class="points__total">
        <span>{{ total_temp }}</span> point<template v-if="total_temp > 1 || total_temp < -1">s</template>
      </div>

      <div class="points__buttons">
        <button type="button" class="btn-brand points__button" @click.prevent="addValueToTotal(1)">+1</button>
        <button type="button" class="btn-brand points__button" @click.prevent="addValueToTotal(2)">+2</button>
        <button type="button" class="btn-brand points__button" @click.prevent="addValueToTotal(5)">+5</button>
        <button type="button" class="btn-brand points__button" @click.prevent="addValueToTotal(10)">+10</button>
        <button type="button" class="btn-brand points__button" @click.prevent="addValueToTotal(50)">+50</button>
        <button type="button" class="btn-brand points__button" @click.prevent="addValueToTotal(100)">+100</button>
      </div>

      <div class="points__buttons">
        <button type="button" class="btn-brand points__button" @click.prevent="addValueToTotal(-1)">-1</button>
        <button type="button" class="btn-brand points__button" @click.prevent="addValueToTotal(-2)">-2</button>
        <button type="button" class="btn-brand points__button" @click.prevent="addValueToTotal(-5)">-5</button>
        <button type="button" class="btn-brand points__button" @click.prevent="addValueToTotal(-10)">-10</button>
        <button type="button" class="btn-brand points__button" @click.prevent="addValueToTotal(-50)">-50</button>
        <button type="button" class="btn-brand points__button" @click.prevent="addValueToTotal(-100)">-100</button>
      </div>

      <div class="btn-wrap align-center">
        <button type="button" class="btn-brand btn--wide" @click.prevent="addScore(total_temp)"><span v-if="total_temp >= 0">Ajouter</span><span v-else>Retirer</span> <strong>{{ total_temp }}</strong> point<template v-if="total_temp > 1 || total_temp < -1">s</template></button>
      </div>


      <h2 class="other-players__title">Mise à zéro</h2>

      <div class="btn-wrap align-center">
        <button type="button" class="btn-important btn--wide" @click.prevent="setScoreToZero">Remise à 0 !</button>
      </div>

    </section>


    <section class="app__option app__option--raz" v-if="options_filter == 'all'">

      <h2 class="other-players__title">Réinitaliser les scores</h2>
      <button type="button" class="btn-important btn--wide" @click.prevent="show_confirm(false)">Tous les scores à 0</button>

    </section>


    <div class="app__version" v-if="options_filter == 'all'">Version {{ version }}</div>

  </div><!--/modal__inner-->
</div><!--/modal-->
