
<header class="main-header" role="banner">

  <h1 class="main-title" contenteditable="true">{{ title }}</h1>
  <button type="button" class="header__btn" @click.prevent="showModal('options')" v-if="!options_visible"><span class="visually-hidden">Options</span><span>Options&hellip;</span></button>

</header>


<div class="modal modal--options" :class="{ 'modal--is-visible': options_visible }">

  <div class="modal__close-wrap">
    <button type="button" @click.prevent="hideModal('options')" class="btn-close"><span class="visually-hidden">Fermer</span></button>
  </div>

  <div class="modal__inner">

    <section class="other-players" v-if="options_filter == 'all'">


      <template v-if="inactive_player_count">
        <div class="other-players__active">

          <h2 class="other-players__title">Joueurs inactifs</h2>

          <ul class="other-players__list other-players__list--inactives">
            <other_player
              v-for="player in players"
              :player="player"
              :key="player.id"
              v-if="!player.visible">
            </other_player>
          </ul>

        </div>

      </template>


      <template v-if="player_count">
        <div class="other-players__inactive">

          <h2 class="other-players__title">Joueurs actifs</h2>

          <ul class="other-players__list">
            <other_player
              v-for="player in players"
              :player="player"
              :key="player.id"
              v-if="player.visible">
            </other_player>
          </ul>

        </div>
      </template>

    </section>


    <section class="app__option app__option--score-limit" v-if="options_filter == 'all' || options_filter == 'score_limit'">

      <h2 class="other-players__title" id="score-limit-label">Limite de score</h2>
      <input type="number" class="option__input" @blur="update_score_limit($event.target.value)" :value="score_limit" aria-labelled-by="score-limit-label">

    </section>


    <section class="app__option app__option--new-player" v-if="options_filter == 'all'">

      <h2 class="other-players__title">Nouveau joueur</h2>
      <button type="button" class="btn-brand btn--wide" @click.prevent="addPlayer">Ajouter un joueur</button>

    </section>


    <section class="app__option app__option--raz" v-if="options_filter == 'all'">

      <h2 class="other-players__title">Réinitaliser les scores</h2>
      <button type="button" class="btn-important btn--wide" @click.prevent="raz">Tous les scores à 0</button>

    </section>


    <section class="app__option app__option--share" v-if="options_filter == 'all'">

      <h2 class="other-players__title">Partager l'application</h2>
      <div class="app__qrcode-wrap">
        <img src="assets/img/qrcode.jpg" alt="QRCode">
      </div>

    </section>



    <section class="app__option option__winner" v-if="options_filter == 'winner'">

      <h2 class="other-players__title">Nous avons un gagnant&nbsp;!</h2>

      <div class="winner__name">{{ winner.name }}&nbsp;!</div>

      <div class="btn-wrap align-center">
        <button type="button" class="btn-brand" @click.prevent="play_again">Nouvelle partie</button>
      </div>

    </section>


    <div class="app__version" v-if="options_filter == 'all'">Version {{ version }}</div>

  </div><!--/modal__inner-->
</div><!--/modal-->
