<!-- @@if (env === 'dev') {
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="assets/js/score.config.js"></script>
<script src="assets/js/score.db.js"></script>
<script src="assets/js/score.ui.js"></script>
<script src="assets/js/score.players.js"></script>
<script src="assets/js/score.js"></script>
} -->

<!-- @@if (env === 'prod') {
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="assets/js/scripts.min.js"></script>
} -->

<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker
      .register('service-worker.js')
      .then(function() {});
  }
</script>
