<!DOCTYPE html>
<html lang="fr">
<head>

  
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-800422-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-800422-4');
  </script>
  


  <title>Score </title>

  <!-- Define Internet Explorer's compatibility mode  -->
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

  <meta charset="utf-8">

  <!-- Responsive markup -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Do not allow phone numbers to be detected -->
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-title" content="Score">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#ff9c00"/>

  <meta name="description" content="Compter les points entre amis avec la webapp Score !"/>

  

  
  <link rel="stylesheet" href="assets/css/common.min.css" media="all">
  <link rel="stylesheet" href="assets/css/features.min.css" media="all">
  

  <link rel="apple-touch-icon" href="assets/img/app/apple-touch-icon.png">
  <link rel="manifest" href="manifest.json">

  <!--Preload font to prevent FOUT-->
  <link rel="preload" href="assets/fonts/OpenSans/opensans-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="assets/fonts/OpenSans/opensans-light-webfont.woff2" as="font" type="font/woff2" crossorigin>

  <!--JS preload-->
  <script>
    if ('FontFace' in window) {
      var myfontReg = new FontFace(
        'Open Sans',
        'url(assets/fonts/OpenSans/opensans-regular-webfont.woff2)',
        {
          style: 'normal',
          weight: '400',
        }
      );

      var myfontLight = new FontFace(
        'Open Sans',
        'url(assets/fonts/OpenSans/opensans-light-webfont.woff2)',
        {
          style: 'normal',
          weight: '300',
        }
      );

      myfontReg.load().then(function() {
        document.fonts.add(myfontReg);
      });

      myfontLight.load().then(function() {
        document.fonts.add(myfontLight);
      });
    }
  </script>

  <script>
  // Images lazy loading.
  window.addEventListener('load', function(){
    var images = document.querySelectorAll('.js-lazy');
    for (var i = 0; i < images.length; i++) {
      if (images[i].getAttribute('data-src')) {
        images[i].setAttribute('src', images[i].getAttribute('data-src'));
      }
    }
  }, false);
  </script>


</head>

<body>

<div class="outer-wrap">
<div class="wrap">

  <div id="app" class="app" :class="{ 'modal-is-open': modal_visible }">

    
    <header class="main-header" role="banner">

      <h1 class="main-title" contenteditable="true">{{ title }}</h1>
      <button type="button" class="header__btn" @click.prevent="showModal('options')" v-if="!options_visible"><span class="visually-hidden">Options</span><span>Options&hellip;</span></button>

    </header>


    <div class="modal modal--options" :class="{ 'modal--is-visible': options_visible }">

      <div class="modal__close-wrap">
        <button type="button" @click.prevent="hideModal('options')" class="btn-close"><span class="visually-hidden">Fermer</span></button>
      </div>

      <div class="modal__inner">

        <section class="other-players" v-if="options_filter == 'all'">


          <template v-if="inactive_player_count">
            <div class="other-players__active">

              <h2 class="other-players__title">Joueurs inactifs</h2>

              <ul class="other-players__list other-players__list--inactives">
                <other_player
                  v-for="player in players"
                  :player="player"
                  :key="player.id"
                  v-if="!player.visible">
                </other_player>
              </ul>

            </div>

          </template>


          <template v-if="player_count">
            <div class="other-players__inactive">

              <h2 class="other-players__title">Joueurs actifs</h2>

              <ul class="other-players__list">
                <other_player
                  v-for="player in players"
                  :player="player"
                  :key="player.id"
                  v-if="player.visible">
                </other_player>
              </ul>

            </div>
          </template>

        </section>


        <section class="app__option app__option--score-limit" v-if="options_filter == 'all' || options_filter == 'score_limit'">

          <h2 class="other-players__title" id="score-limit-label">Limite de score</h2>
          <input type="number" class="option__input" @blur="update_score_limit($event.target.value)" :value="score_limit" aria-labelled-by="score-limit-label">

        </section>


        <section class="app__option app__option--new-player" v-if="options_filter == 'all'">

          <h2 class="other-players__title">Nouveau joueur</h2>
          <button type="button" class="btn-brand btn--wide" @click.prevent="addPlayer">Ajouter un joueur</button>

        </section>


        <section class="app__option app__option--raz" v-if="options_filter == 'all'">

          <h2 class="other-players__title">Réinitaliser les scores</h2>
          <button type="button" class="btn-important btn--wide" @click.prevent="raz">Tous les scores à 0</button>

        </section>


        <section class="app__option app__option--share" v-if="options_filter == 'all'">

          <h2 class="other-players__title">Partager l'application</h2>
          <div class="app__qrcode-wrap">
            <img src="assets/img/qrcode.jpg" alt="QRCode">
          </div>

        </section>



        <section class="app__option option__winner" v-if="options_filter == 'winner'">

          <h2 class="other-players__title">Nous avons un gagnant&nbsp;!</h2>

          <div class="winner__name">{{ winner.name }}&nbsp;!</div>

          <div class="btn-wrap align-center">
            <button type="button" class="btn-brand" @click.prevent="play_again">Nouvelle partie</button>
          </div>

        </section>


        <div class="app__version" v-if="options_filter == 'all'">Version {{ version }}</div>

      </div><!--/modal__inner-->
    </div><!--/modal-->


    <div class="winner" v-if="score_limit > 0">Le premier joueur à <strong @click="showModal('options', 'score_limit')">{{ score_limit }} points</strong>.</div>

    <section class="player-list">

      <player
        v-for="player in players"
        :player="player"
        :score_limit="score_limit"
        :key="player.id"
        v-if="player.visible"
        @we-got-a-winner="show_winner">
      </player>

    </section><!--/player-list-->

    
    <footer class="main-footer" role="contentinfo">
      <!--a href="https://github.com/cyril-lamotte">Contact / Remonter un bug</a-->
    </footer>


  </div><!--/app-->


</div><!--/wrap-->
</div><!--/outer-wrap-->




<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="assets/js/scripts.min.js"></script>


<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker
      .register('service-worker.js')
      .then(function() {});
  }
</script>


</body>
</html>
