<!DOCTYPE html>
<html lang="fr">
<head>

  <title>Score</title>

  <!-- Define Internet Explorer's compatibility mode  -->
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

  <meta charset="utf-8">

  <!-- Responsive markup -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Do not allow phone numbers to be detected -->
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-title" content="Score">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#ff9c00"/>

  <link rel="stylesheet" href="assets/css/common.css" media="all">
  <link rel="stylesheet" href="assets/css/features.css" media="all">

  <link rel="apple-touch-icon" href="assets/img/app/apple-touch-icon.png">
  <link rel="manifest" href="manifest.json">

  <!--Preload font to prevent FOUT-->
  <link rel="preload" href="assets/fonts/OpenSans/opensans-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="assets/fonts/OpenSans/opensans-light-webfont.woff2" as="font" type="font/woff2" crossorigin>

  <!--JS preload-->
  <script>
    if ('FontFace' in window) {
      var myfontReg = new FontFace(
        'Open Sans',
        'url(assets/fonts/OpenSans/opensans-regular-webfont.woff2)',
        {
          style: 'normal',
          weight: '400',
        }
      );

      var myfontLight = new FontFace(
        'Open Sans',
        'url(assets/fonts/OpenSans/opensans-light-webfont.woff2)',
        {
          style: 'normal',
          weight: '300',
        }
      );

      myfontReg.load().then(function() {
        document.fonts.add(myfontReg);
      });

      myfontLight.load().then(function() {
        document.fonts.add(myfontLight);
      });
    }
  </script>

  <script>
  // Images lazy loading.
  window.addEventListener('load', function(){
    var images = document.querySelectorAll('.js-lazy');
    for (var i = 0; i < images.length; i++) {
      if (images[i].getAttribute('data-src')) {
        images[i].setAttribute('src', images[i].getAttribute('data-src'));
      }
    }
  }, false);
  </script>


</head>

<body>

<div class="outer-wrap">
<div class="wrap">

  <div id="app" :class="{ 'modal-is-open': modal_visible }">

    
    <header class="main-header" role="banner">

      <h1 class="main-title" contenteditable="true">{{ title }}</h1>
      <button type="button" class="header__btn" @click.prevent="showModal('options')" v-if="!options_visible"><span class="visually-hidden">Options</span><span>Options&hellip;</span></button>

    </header>




    <div class="modal modal--options" :class="{ 'modal--is-visible': options_visible }">

      <div class="modal__close-wrap">
        <button type="button" @click.prevent="hideModal('options')" class="btn-close"><span class="visually-hidden">Fermer</span></button>
      </div>

      <div class="modal__inner">

        <section class="other-players">


          <template v-if="inactive_player_count">

            <h2 class="other-players__title">Joueurs inactifs</h2>

            <ul class="other-players__list other-players__list--inactives">
              <other_player
                v-for="player in players"
                :player="player"
                :key="player.id"
                v-if="!player.visible">
              </other_player>
            </ul>

          </template>


          <template v-if="player_count">

            <h2 class="other-players__title">Joueurs actifs</h2>

            <ul class="other-players__list">
              <other_player
                v-for="player in players"
                :player="player"
                :key="player.id"
                v-if="player.visible">
              </other_player>
            </ul>

          </template>

        </section>



        <section class="options__raz">

          <h2 class="other-players__title">Nouveau joueur</h2>
          <button type="button" class="btn-brand btn--wide" @click.prevent="addPlayer">Ajouter un joueur</button>

        </section>


        <section class="options__raz">

          <h2 class="other-players__title">Réinitaliser les scores</h2>
          <button type="button" class="btn-important btn--wide" @click.prevent="raz">Tous les scores à 0</button>

        </section>


      </div><!--/modal__inner-->
    </div><!--/modal-->


    <section class="player-list">

      <player
        v-for="player in players"
        :player="player"
        :key="player.id"
        v-if="player.visible">
      </player>

    </section><!--/player-list-->



  </div><!--/app-->



  
  <footer class="main-footer" role="contentinfo">
    <!--a href="https://github.com/cyril-lamotte">Contact / Remonter un bug</a-->
  </footer>


</div><!--/wrap-->
</div><!--/outer-wrap-->

<!-- Scripts at the bottom for better performances -->

<!--DEV-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!--PROD-->
<!--script src="https://cdn.jsdelivr.net/npm/vue"></script-->

<script src="assets/js/lib/jquery.min.js"></script>
<script src="assets/js/score.js"></script>

<!--script src="assets/js/app.config.js"></script>
<script src="assets/js/custom/global.js"></script>
<script src="assets/js/custom/ui.js"></script>
<script src="assets/js/custom/db.js"></script>
<script src="assets/js/app.js"></script-->

<script>
  /*if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('service-worker.js')
      .then(function(reg){}).catch(function(err) {
        //console.log("No it didn't. This happened: ", err)
      });
  }*/
</script>


</body>
</html>
