
.modal-add {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  top: 100%;
  right: 0;
  z-index: 9;
  transition: transform 200ms;

  &.is-visible {
    transform: translate3d(0, -100%, 0);
  }

  input {
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    background: #fff;
    border: 1px solid $blue;
    color: $blue;
    height: 5rem;
    margin: 0 20px 0 0;
    padding: 0 10px;
    width: 140px;
    text-align: center;
  }

  .btn--submit {
    margin-right: 20px;
  }

  .btn--plus-x {
    width: 5rem;
  }
}

.add__title {
  margin: 20px 0 10px;
  font-size: 2rem;
  font-weight: 300;
  text-align: left;

  &:first-child {
    margin-top: 0;
  }
}

.modal-add__inner {
  padding: 20px 10px;
}
