
.modal-add {
  display: none;
  position: fixed;
  background: #ccc;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;

  select {
    font-size: 2rem;
  }
}

.modal-add__inner {
  text-align: center;
}
