
.score {
  display: table;
  margin: 20px 0;
  font-size: 2rem;
  width: 100%;
}

.score__row {
  display: table-row;

  &:nth-child(odd) {
    background: $grey--light;
  }

  > div {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
  }
}

.score__name {
  font-weight: bold;
}

.score__header {
  font-weight: bold;
  text-transform: uppercase;
  background: $grey--light;
  text-align: center;
}

.score__total {
  text-align: right;
}

.score__actions {
  text-align: center;
}
