
.score {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0;
  margin: 20px 0 300px;
  font-size: 2rem;

  @include mq-from('xs') {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  @include mq-from('md') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.score__row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
  transition: filter 300ms;

  .modal-open &:not(.score__row--is-active) {
    filter: blur(3px);
  }

  > div {
    padding: 10px;
  }
}

.score__name {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.1;
}

.score__total {
  grid-row: 1 / 2;
  grid-column: 7 / 13;
}

.score__action {
  grid-row: 2 / 3;
  grid-column: 1 / 13;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}


.score__btn {
  @include reset-box-model;
  background: none;
  display: block;
  width: 100%;
  position: relative;
  color: #fff;
  font-family: $font-stack;
  font-weight: 300;
  text-align: right;
  font-size: 4em;
  line-height: 1;
  cursor: pointer;
}

.anim-bounce {
  animation: bounce 100ms ease-in 2 alternate forwards;
}

// Scale after moving.
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}


.btn {
  @include reset-box-model;
  background: darken($blue, 10%);
  padding: 15px 10px;
  font-size: 1.4em;
  border-radius: 5px;
  text-align: center;
  color: #fff;

  &:not(:last-child) {
    margin-right: 5px;
  }

  @include mq-from('md') {
    font-size: 2em;
  }

  .score__action & {
    width: 2em;
  }
}

.btn--zero {
  background: #ff6e69;
}

.btn--cancel {
  background: #ccc;
  color: #555;
}

.btn--submit {
  background: $brand;
  color: #fff;
}
