
.score {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0;
  margin: 20px 0 300px;
  font-size: 2rem;

  @include mq-from('xs') {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  @include mq-from('md') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.score__row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
  transition: filter 300ms;

  .modal-open &:not(.score__row--is-active) {
    filter: blur(3px);
  }

  > div {
    padding: 10px;
  }
}

.score__name {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 8rem;

  .overlay-remove-players & {
    animation: shake 500ms ease-in infinite alternate forwards;
  }
}

.score__total {
  grid-row: 1 / 2;
  grid-column: 7 / 13;
}

.score__action {
  grid-row: 2 / 3;
  grid-column: 1 / 13;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}

.score__action-inner {
  display: table;
  width: 100%;
  text-align: left;
}

.action__item {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;

  .btn--large {
    width: 100%;
    padding: 20px;
  }
}


.score__btn {
  @include reset-box-model;
  background: none;
  display: block;
  width: 100%;
  position: relative;
  color: #fff;
  font-family: $font-stack;
  font-weight: 300;
  text-align: right;
  font-size: 4em;
  line-height: 1;
  cursor: pointer;
}

.anim-bounce {
  animation: bounce 100ms ease-in 2 alternate forwards;
}

// Scale after moving.
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}



.score__remove {
  @include reset-box-model;
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background: $red;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;

  .overlay-remove-players & {
    display: block;
  }

}

// Scale after moving.
@keyframes shake {
  from {
    transform: translate3d(2px, -2px, 0);
  }
  , 25% {
    transform: translate3d(-2px, 2px, 0);
  }
  , 50% {
    transform: translate3d(2px, 2px, 0);
  }
  , to {
    transform: translate3d(-2px, -2px, 0);
  }
}


.player__hidden {
  display: none;
}

.btn--plus-1 {
  height: 100px;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(50% - 15px);
    width: 30px;
    height: 6px;
    background: #fff;
  }

  &:after {
    transform: rotate(90deg);
  }
}

.btn--minus-1 {
  height: 100px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(50% - 15px);
    width: 30px;
    height: 6px;
    background: #fff;
  }
}


