
$bullet-move-duration: 200ms;
$bullet-offset: 150px;


.score__modal {

  .score__row--is-active & {
    animation: modal-overflow 1ms linear 1 normal forwards;
    animation-delay: $bullet-move-duration;
  }

  button {
    display: table-cell;
    vertical-align: middle;
  }
}

// Overflow hidden after delay.
@keyframes modal-overflow {
  to {
    overflow: visible;
  }
  to {
    overflow: hidden;
  }
}

.score__row--is-active {
  z-index: 1;
}

.score__modal-bullet {
  display: block;
  margin: 0 auto;
  position: absolute;
  visibility: visible;
  top: 50px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  transform: translate3d(0, -$bullet-offset, 0);

  &:before {
    content: '';
    color: #fff;
    text-align: center;
    line-height: 1;
    display: block;
    width: 40px;
    height: 40px;
    background: $red;
    border-radius: 50%;
    transform: translate3d(0, 0, 0);
    transition: transform $bullet-move-duration ease-out;
  }

  .score__row--is-active & {
    animation: x-axis $bullet-move-duration/2 ease-out 2 alternate forwards;

    &:before {
      transform: translate3d(0, $bullet-offset, 0);
      animation: scale 500ms ease-out 1 normal forwards;
      animation-delay: $bullet-move-duration;
    }

  }

}

// Curvy trajectory.
@keyframes x-axis {
  from {
    transform: translate3d(0, -$bullet-offset, 0);
  }
  to {
    transform: translate3d(50px, -$bullet-offset, 0);
  }
}

// Scale after moving.
@keyframes scale {
  to {
    transform: scale(20);
  }
}






.btn-close {
  @include reset-box-model;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 1rem;
  line-height: 1;

  &:before {
    content: 'X';
    color: #fff;
  }

  span {
    @include hide-text;
  }
}
