
.app {
  opacity: 0;
  transition: all 1s;

  .app-is-mounted & {
    opacity: 1;
  }

}

.winner {
  text-align: center;
  font-size: 2rem;

  strong {
    font-size: 2.4rem;
    cursor: pointer;
    color: $brand;

    @include hover {
      text-decoration: underline;
    }

  }

}
