
.app__version {
  text-align: center;
  margin: 20px 0;
}

.app__option {
  max-width: 500px;
  margin: 0 auto;
}

.app__qrcode-wrap {
  text-align: center;
  background: #fff;

  img {
    max-height: 30vh;
  }

}

.option__input {
  @include option-input;
}

.option__winner {

  .other-players__title {
    text-align: center;
    font-weight: bold;
  }

}

.winner__name {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 50px;
}
