
.app__version {
  text-align: center;
  margin: 20px 0;

  .app-is-offline & {

    &:after {
      content: 'Offline';
      display: inline-block;
      vertical-align: middle;
      background: red;
      border-radius: 3px;
      margin-left: 10px;
      padding: 1px 3px;
    }

  }

}

.app__option {
  max-width: 500px;
  margin: 0 auto;
}

.app__qrcode-wrap {
  text-align: center;
  background: #fff;

  img {
    max-height: 30vh;
  }

}

.option__input {
  @include option-input;
}

.option__winner {

  .other-players__title {
    text-align: center;
    font-weight: bold;
  }

}

.winner__name {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 50px;
}


.option__confirm {

  .other-players__title {
    text-align: center;
  }

}


.modal--options--all {

  .app__option--score-limit {

    .btn-wrap {
      display: none;
    }

  }

}


.modal--options--score_limit {

  .btn-wrap {
    margin-top: 15px;
  }

}
