
.main-header {
  text-align: center;
  padding: 10px;
  color: $brand;
  margin-bottom: 2rem;
  transition: all 150ms;
}

.main-title {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  color: $brand;
  font-weight: 300;
  font-size: 3rem;

  &[contenteditable="true"] {
    border-bottom-color: $brand;
  }

}


.header__btn {
  @include btn-default;
  background: rgba(#000, 0.8);
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  z-index: 9;
  text-align: center;
  font-weight: bold;
  border-radius: 10px 0 0 0;

  .modal-is-open & {
    opacity: 0;
  }

}
