html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
h1 {
  font-size: 2em;
  margin: 0.67em 0; }
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }
main {
  display: block; }
pre {
  font-family: monospace, monospace;
  font-size: 1em; }
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }
b,
strong {
  font-weight: bolder; }
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }
small {
  font-size: 80%; }
img {
  border-style: none; }
svg:not(:root) {
  overflow: hidden; }
button,
input,
optgroup,
select,
textarea {
  margin: 0; }
button {
  overflow: visible;
  text-transform: none; }
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }
fieldset {
  padding: 0.35em 0.75em 0.625em; }
input {
  overflow: visible; }
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }
progress {
  display: inline-block;
  vertical-align: baseline; }
select {
  text-transform: none; }
textarea {
  overflow: auto; }
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }
details {
  display: block; }
summary {
  display: list-item; }
template {
  display: none; }
[hidden] {
  display: none; }
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

img {
  max-width: 100%;
  font-style: italic;
  height: auto; }

.btn-important {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
  line-height: 1.2;
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ff4200;
  color: #fff;
  padding: 2rem 1rem;
  font-size: 2rem; }
  .btn-important:hover, .btn-important:focus, .btn-important:active {
    text-decoration: none; }
  .btn-important:focus {
    background: #ff6833; }
  .btn-important:hover {
    background: #ff6347; }

.btn-brand {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
  line-height: 1.2;
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ff9c00;
  color: #1a1a1a;
  background-color: #ff9c00;
  color: #1a1a1a;
  padding: 2rem 1rem;
  font-size: 2rem; }
  .btn-brand:hover, .btn-brand:focus, .btn-brand:active {
    text-decoration: none; }
  .btn-brand:focus {
    background: #ffb033; }
  .btn-brand:hover {
    background: #ff6347; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/opensans-light-webfont.woff2"), url("../fonts/OpenSans/opensans-light-webfont.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/opensans-regular-webfont.woff2"), url("../fonts/OpenSans/opensans-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

html {
  font: 0.625em/1.5 "Open Sans", arial, helvetica, sans-serif;
  color: #fff;
  background: #1a1a1a; }

body {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 50px; }

a {
  text-decoration: none;
  color: #fff; }
  a:hover, a:focus, a:active {
    text-decoration: underline; }

[contenteditable="true"] {
  border-bottom: 1px solid #ff9c00; }

.options__row,
.form__row {
  position: relative;
  clear: left; }

.form__row--inline input {
  display: inline-block;
  width: auto; }

.label--block {
  display: block;
  float: none;
  text-align: left;
  width: auto;
  margin-bottom: 5px; }

.label--inline {
  display: inline-block;
  float: none;
  text-align: left;
  width: auto;
  line-height: 1.5; }

.fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  border: 1px solid #333;
  padding: 10px; }
  .fieldset legend {
    padding: 0 10px; }

.fieldset--invisible {
  margin: 0;
  padding: 0;
  border: 0; }
  .fieldset--invisible legend {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; }

.input--wide {
  display: block;
  width: 100%; }

.input--inline {
  display: inline-block;
  width: auto; }

.input--text {
  margin: 0;
  max-width: 100%;
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 0;
  color: #fff; }
  .input--text::-ms-clear {
    display: none; }
  .input--text.placeholder {
    opacity: 1;
    font-style: italic; }
  .input--text:-moz-placeholder {
    opacity: 1;
    font-style: italic; }
  .input--text::-moz-placeholder {
    opacity: 1;
    font-style: italic; }
  .input--text:-ms-input-placeholder {
    opacity: 1;
    font-style: italic; }
  .input--text::-webkit-input-placeholder {
    opacity: 1;
    font-style: italic; }

.input--textarea {
  margin: 0;
  max-width: 100%;
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 0;
  color: #fff;
  min-height: 5em;
  overflow: auto;
  vertical-align: top;
  resize: vertical; }
  .input--textarea::-ms-clear {
    display: none; }
  .input--textarea.placeholder {
    opacity: 1;
    font-style: italic; }
  .input--textarea:-moz-placeholder {
    opacity: 1;
    font-style: italic; }
  .input--textarea::-moz-placeholder {
    opacity: 1;
    font-style: italic; }
  .input--textarea:-ms-input-placeholder {
    opacity: 1;
    font-style: italic; }
  .input--textarea::-webkit-input-placeholder {
    opacity: 1;
    font-style: italic; }

.input--checkbox:not(:checked), .input--checkbox:checked {
  position: absolute;
  left: -9999px; }
  .input--checkbox:not(:checked) + label, .input--checkbox:checked + label {
    cursor: pointer;
    position: relative;
    padding-left: 24px; }
    .input--checkbox:not(:checked) + label:before, .input--checkbox:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #333;
      background: #fff; }
    .input--checkbox:not(:checked) + label:hover:before, .input--checkbox:checked + label:hover:before {
      background-color: #ecebeb; }
    .input--checkbox:not(:checked) + label:hover:after, .input--checkbox:checked + label:hover:after {
      background-color: #e68c00; }
    .input--checkbox:not(:checked) + label:after, .input--checkbox:checked + label:after {
      content: '';
      width: 18px;
      height: 18px;
      background: #ff9c00;
      position: absolute;
      top: 4px;
      left: 4px;
      line-height: 1.2;
      -webkit-animation-name: check;
              animation-name: check;
      -webkit-animation-duration: 150ms;
              animation-duration: 150ms;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-animation-direction: normal;
              animation-direction: normal;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
  .input--checkbox:not(:checked):focus + label:before, .input--checkbox:checked:focus + label:before {
    background-color: #ecebeb;
    outline: 1px dashed #ff9c00;
    outline-offset: 2px; }
  .input--checkbox:not(:checked):focus + label:after, .input--checkbox:checked:focus + label:after {
    background-color: #e68c00; }

.input--checkbox:not(:checked) + label:after {
  display: none; }

.input--checkbox:checked + label:after {
  display: block; }

.input--checkbox[disabled]:not(:checked) + label, .input--checkbox[disabled]:checked + label {
  color: #ccc; }
  .input--checkbox[disabled]:not(:checked) + label:before, .input--checkbox[disabled]:checked + label:before {
    background-color: #aaa; }
  .input--checkbox[disabled]:not(:checked) + label:after, .input--checkbox[disabled]:checked + label:after {
    color: #eee;
    background-color: #ddd; }

.input--checkbox:not(:checked) + label.checkbox-right,
.input--checkbox:checked + label.checkbox-right {
  padding-left: 0;
  padding-right: 20px; }
  .input--checkbox:not(:checked) + label.checkbox-right:before,
  .input--checkbox:checked + label.checkbox-right:before {
    left: auto;
    right: 0; }
  .input--checkbox:not(:checked) + label.checkbox-right:after,
  .input--checkbox:checked + label.checkbox-right:after {
    left: auto;
    right: 2px; }

.input--checkbox:not(:checked) + label.label-hidden,
.input--checkbox:checked + label.label-hidden {
  margin-right: 0; }
  .input--checkbox:not(:checked) + label.label-hidden span,
  .input--checkbox:checked + label.label-hidden span {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; }

@-webkit-keyframes check {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    border-radius: 50%; }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border-radius: 50%; }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 2px; } }

@keyframes check {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    border-radius: 50%; }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border-radius: 50%; }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 2px; } }

.input--radio:not(:checked), .input--radio:checked {
  position: absolute;
  left: -9999px; }
  .input--radio:not(:checked) + label, .input--radio:checked + label {
    cursor: pointer;
    position: relative;
    padding-left: 24px; }
    .input--radio:not(:checked) + label:before, .input--radio:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #333;
      background: #fff; }
    .input--radio:not(:checked) + label:hover:before, .input--radio:checked + label:hover:before {
      background-color: #ecebeb; }
    .input--radio:not(:checked) + label:hover:after, .input--radio:checked + label:hover:after {
      background-color: #e68c00; }
    .input--radio:not(:checked) + label:after, .input--radio:checked + label:after {
      content: '';
      width: 18px;
      height: 18px;
      background: #ff9c00;
      position: absolute;
      top: 4px;
      left: 4px;
      line-height: 1.2;
      -webkit-animation-name: check;
              animation-name: check;
      -webkit-animation-duration: 150ms;
              animation-duration: 150ms;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      -webkit-animation-direction: normal;
              animation-direction: normal;
      -webkit-animation-iteration-count: 1;
              animation-iteration-count: 1;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
  .input--radio:not(:checked):focus + label:before, .input--radio:checked:focus + label:before {
    background-color: #ecebeb;
    outline: 1px dashed #ff9c00;
    outline-offset: 2px; }
  .input--radio:not(:checked):focus + label:after, .input--radio:checked:focus + label:after {
    background-color: #e68c00; }

.input--radio:not(:checked) + label:after {
  display: none; }

.input--radio:checked + label:after {
  display: block; }

.input--radio[disabled]:not(:checked) + label, .input--radio[disabled]:checked + label {
  color: #ccc; }
  .input--radio[disabled]:not(:checked) + label:before, .input--radio[disabled]:checked + label:before {
    background-color: #aaa; }
  .input--radio[disabled]:not(:checked) + label:after, .input--radio[disabled]:checked + label:after {
    color: #eee;
    background-color: #ddd; }

.input--radio:not(:checked) + label.checkbox-right,
.input--radio:checked + label.checkbox-right {
  padding-left: 0;
  padding-right: 20px; }
  .input--radio:not(:checked) + label.checkbox-right:before,
  .input--radio:checked + label.checkbox-right:before {
    left: auto;
    right: 0; }
  .input--radio:not(:checked) + label.checkbox-right:after,
  .input--radio:checked + label.checkbox-right:after {
    left: auto;
    right: 2px; }

.input--radio:not(:checked) + label.label-hidden,
.input--radio:checked + label.label-hidden {
  margin-right: 0; }
  .input--radio:not(:checked) + label.label-hidden span,
  .input--radio:checked + label.label-hidden span {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; }

@keyframes check {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    border-radius: 50%; }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border-radius: 50%; }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 2px; } }

.input--radio:not(:checked) + label:before, .input--radio:checked + label:before {
  border-radius: 50%; }

.input--radio:not(:checked) + label:after, .input--radio:checked + label:after {
  border-radius: 50%;
  -webkit-animation-name: check-radio;
          animation-name: check-radio; }

@-webkit-keyframes check-radio {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  to {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes check-radio {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  to {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.input--select {
  max-width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 0;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 95% 50%; }
  .input--select::-ms-expand {
    display: none; }

.btn {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
  line-height: 1.2;
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ff9c00;
  color: #1a1a1a; }
  .btn:hover, .btn:focus, .btn:active {
    text-decoration: none; }

.btn--wide {
  display: block;
  width: 100%;
  float: none;
  text-align: center; }

.outer-wrap {
  position: relative;
  overflow: hidden; }

.wrap {
  display: flow-root;
  max-width: 1280px;
  margin: 0 auto; }
  .wrap:after {
    content: "";
    display: table;
    clear: both; }

.list {
  margin: 1em 0;
  padding: 0;
  list-style: none; }
  .list:first-child {
    margin-top: 0; }
  .list:last-child {
    margin-bottom: 0; }

::-moz-selection {
  background-color: #ff9c00;
  color: #fff; }

::selection {
  background-color: #ff9c00;
  color: #fff; }

html {
  -webkit-tap-highlight-color: rgba(255, 156, 0, 0.5); }

.modal {
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(26, 26, 26, 0.9);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  -o-transition: transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  padding: 1rem;
  border-top: 4px solid #ff9c00;
  height: 80vh; }

.modal__inner {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 70vh;
  padding-bottom: 1rem; }

.modal--is-visible {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0); }

.modal__close-wrap {
  text-align: center; }

.btn-close {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer; }
  .btn-close:before, .btn-close:after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    height: 1px;
    background: #fff; }
  .btn-close:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .btn-close span {
    display: block; }

.align-left {
  text-align: left !important; }

.align-right {
  text-align: right !important; }

.align-center {
  text-align: center !important; }

.valign-top {
  vertical-align: top !important; }

.valign-middle {
  vertical-align: middle !important; }

.valign-bottom {
  vertical-align: bottom !important; }

.align-start {
  float: left !important; }

.align-end {
  float: right !important; }

.align-clear {
  clear: both !important; }

.is-hidden {
  display: none !important; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.main-header {
  text-align: center;
  padding: 10px;
  background: #ff9c00;
  margin-bottom: 2rem; }

.main-title {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font-weight: 300;
  font-size: 3rem; }
  .main-title[contenteditable="true"] {
    border-bottom-color: #000; }

.header__btn {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
  line-height: 1.2;
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 80px;
  padding: 1rem;
  font-size: 1.5rem;
  z-index: 9;
  text-align: center;
  font-weight: bold;
  border-radius: 10px 0 0 0; }
  .header__btn:hover, .header__btn:focus, .header__btn:active {
    text-decoration: none; }

/*# sourceMappingURL=../maps/common.css.map */
