@charset "UTF-8";
.app {
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .app-is-mounted .app {
    opacity: 1; }

.winner {
  text-align: center;
  font-size: 2rem; }
  .winner strong {
    font-size: 2.4rem;
    cursor: pointer;
    color: #ff9c00; }
    .winner strong:hover, .winner strong:focus, .winner strong:active {
      text-decoration: underline; }

.logs__cancel {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  line-height: 1.2;
  width: 6.8rem;
  height: 6.8rem; }
  .logs__cancel:hover, .logs__cancel:focus, .logs__cancel:active {
    background-color: rgba(255, 255, 255, 0.3); }
  .logs__cancel span {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; }
  .logs__cancel:before {
    content: '↻';
    font-size: 3rem;
    line-height: 1.2;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle; }
    @media only screen and (max-width: 47.9375em) {
      .logs__cancel:before {
        font-size: 4rem; } }

.hand-pass {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 1.5rem 2rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 1.2;
  font-weight: 300;
  font-weight: bold;
  border-radius: 0 10px 0 0; }

.logs {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 0 15px; }
  .logs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    margin: 15px 0; }

.log {
  margin-bottom: 15px;
  font-size: 1.6rem;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start; }
  .log:not(:last-child) {
    border-bottom: 1px solid #fff; }

.log__button {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 15px 0;
  font-size: 1.6rem;
  background: #ff6347;
  color: #fff;
  padding: 10px 10px;
  cursor: pointer; }
  .log__button:hover, .log__button:focus, .log__button:active {
    background: #ff7961; }

.log__rename,
.log__date {
  margin: 0;
  display: block; }

.log__diff {
  margin: 0;
  display: block;
  text-align: right; }

.log__content {
  margin: 0;
  display: block; }

.log__new-name {
  margin: 0;
  font-weight: bold;
  color: #98f5ff; }

.log__score {
  margin: 0;
  font-weight: bold;
  color: #caff70; }

.log__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.logs__trigger {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px 20px;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  line-height: 1.2;
  font-weight: 300; }
  .logs__trigger:hover {
    background-color: rgba(255, 255, 255, 0.3); }

.history-is-open {
  background: #ff9c00;
  color: #1a1a1a; }

.log__synthesis {
  display: none; }

.app__version {
  text-align: center;
  margin: 20px 0; }
  .app-is-offline .app__version:after {
    content: 'Offline';
    display: inline-block;
    vertical-align: middle;
    background: red;
    border-radius: 3px;
    margin-left: 10px;
    padding: 1px 3px; }

.app__option {
  max-width: 500px;
  margin: 0 auto; }

.app__qrcode-wrap {
  text-align: center;
  background: #fff; }
  .app__qrcode-wrap img {
    max-height: 30vh; }

.option__input {
  margin: 0;
  max-width: 100%;
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 5px 10px;
  border-radius: 0;
  width: 100%;
  color: #fff;
  background: none;
  font-size: 3rem;
  text-align: center;
  border: 1px solid #fff; }
  .option__input::-ms-clear {
    display: none; }
  .option__input.placeholder {
    opacity: 1;
    font-style: italic; }
  .option__input:-moz-placeholder {
    opacity: 1;
    font-style: italic; }
  .option__input::-moz-placeholder {
    opacity: 1;
    font-style: italic; }
  .option__input:-ms-input-placeholder {
    opacity: 1;
    font-style: italic; }
  .option__input::-webkit-input-placeholder {
    opacity: 1;
    font-style: italic; }

.option__winner .other-players__title {
  text-align: center;
  font-weight: bold; }

.winner__name {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 50px; }

.modal--options--all .app__option--score-limit .btn-wrap {
  display: none; }

.modal--options--score_limit .btn-wrap {
  margin-top: 15px; }

.other-players {
  max-width: 500px;
  margin: 0 auto; }
  @media only screen and (min-width: 48em) {
    .other-players {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-line-pack: start;
          align-content: flex-start; } }

.other-players__title {
  margin: 2rem 0 1rem;
  font-weight: normal; }

.other-players__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start; }
  .other-players__list li {
    margin-right: 1rem;
    margin-bottom: 1rem; }
  .other-players__list .btn {
    font-size: 2rem;
    padding: 1rem; }
    .other-players__list .btn:before {
      content: '-';
      margin-right: 5px; }

.other-players__list--inactives .btn {
  background-color: #333;
  color: #ff9c00; }
  .other-players__list--inactives .btn:before {
    content: '+';
    margin-right: 5px; }

.player-list {
  font-size: 2rem;
  -webkit-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms; }
  @media only screen and (min-width: 30em) {
    .player-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; } }

.player {
  position: relative;
  margin-bottom: 2rem;
  padding-top: 10px; }
  @media only screen and (min-width: 30em) {
    .player {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 48%;
              flex: 0 0 48%;
      max-width: 48%; } }

.player__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: strech;
      -ms-flex-align: strech;
          align-items: strech;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-bottom: 1rem; }

.player__name {
  position: relative;
  margin: 0;
  font-weight: 300;
  font-size: 4rem;
  line-height: 1.2;
  padding: 1rem 40px 1rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.player__total {
  margin: 0;
  padding: 0 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px; }

.player__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.player__update-btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 20px;
  height: 120px; }

.player__score {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  display: block;
  width: 100%;
  position: relative;
  color: #fff;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  font-weight: 300;
  text-align: right;
  font-size: 4em;
  line-height: 1;
  cursor: pointer; }
  .player--zero-point .player__score {
    color: #ff4200; }

.player__update-btn--plus-1:after, .player__update-btn--plus-1:before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(50% - 15px);
  width: 30px;
  height: 6px;
  background: #1a1a1a; }

.player__update-btn--plus-1:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.player__update-btn--minus-1 {
  background: #e68c00;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms; }
  .player__update-btn--minus-1:before {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(50% - 15px);
    width: 30px;
    height: 6px;
    background: #1a1a1a; }
  .player__update-btn--minus-1:hover {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.player--has-hand .player__name:before {
  content: '';
  position: absolute;
  top: calc(50% - 13px);
  right: 1rem;
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 50%; }

.player--has-hand .player__name:after {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  right: 13px;
  width: 20px;
  height: 20px;
  background: #ff9c00;
  border-radius: 50%; }

.anim-bounce {
  -webkit-animation: bounce 100ms ease-in 2 alternate forwards;
          animation: bounce 100ms ease-in 2 alternate forwards; }

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }

@keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }

.player__remain {
  padding: 5px 10px;
  font-size: 1.4rem; }

.points__buttons-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-bottom: 1.5rem; }
  .points__buttons-mode > button {
    border: 1px solid #000;
    border-width: 0 1px; }
  .points__buttons-mode .btn-mode--is-active {
    background: #ff6347;
    font-weight: bold; }
    .points__buttons-mode .btn-mode--is-active:before {
      content: '✓';
      margin-right: 5px; }

.points__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: 0 0 1.5rem; }

.points__button {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 1px; }
  .points__button:nth-child(2) {
    background: #ec9813; }
  .points__button:nth-child(3) {
    background: #df9520; }
  .points__button:nth-child(4) {
    background: #d2922d; }
  .points__button:nth-child(5) {
    background: #c68f39; }
  .points__button:nth-child(6) {
    background: #b98c46; }
  .points__button:nth-child(1n):focus {
    background: #ffb033; }
  .points__button:nth-child(1n):hover {
    background: #ff6347; }

.points__total {
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem; }
  .points__total span {
    font-size: 7rem;
    font-weight: 300; }

/*# sourceMappingURL=../maps/features.css.map */
