@charset "UTF-8";

/*
---
name: Open Sans
category: Polices
---

```html
<div class="font--default">Lorem ipsum</div>
```

```sass
font-family: $font-stack;
```
*/

/*
---
name: Arial
category: Polices
---

```html
<div class="font--alt">Lorem ipsum</div>
```

```sass
font-family: $font-stack-alt;
```
*/

/*
---
name: Bouton par défaut
category: Boutons et liens
---

Appliquer ce style pour obtenir un bouton stylé.

```html
<a href="#" class="btn">Bouton basique</a>
```

```sass
@include btn;
```
*/

/*
---
name: Bloc de base
category: Blocs
---

Style de bloc par défaut.

```html
<div class="block--default">Lorem ipsum</div>
```

```sass
@include block--default;
```
*/

/*
---
name: Liste de choix
category: Formulaires
---

```html
<div class="form__row">
  <label class="label--block">Liste de choix</label>
  <select name="select-1" class="input--select input--wide">
    <option value="o1">Option 1</option>
    <option value="o2">Option 2</option>
    <option value="o3">Option 3</option>
  </select>
</div>
```

```sass
@include select;
```
*/

/*
---
name: Checkbox
category: Formulaires
---

```html
<div class="form__row">
  <fieldset class="fieldset">
    <legend>Options &ndash; Cases à cocher</legend>

    <div class="options__row">
      <input type="checkbox" value="" name="cb-1" id="cb-1" class="input--checkbox" checked />
      <label for="cb-1">Option 1</label>
    </div>

    <div class="options__row">
      <input type="checkbox" value="" name="cb-2" id="cb-2" class="input--checkbox" />
      <label for="cb-2">Option 2</label>
    </div>

  </fieldset>
</div>
```

```sass
@include checkbox;
```
*/

/*
---
name: Radio
category: Formulaires
---

```html
<div class="form__row">
  <fieldset class="fieldset">
    <legend>Options &ndash; Radios</legend>

    <div class="options__row">
      <input type="radio" value="" name="radio" id="radio-1" class="input--radio" checked />
      <label for="radio-1">Option 1</label>
    </div>

    <div class="options__row">
      <input type="radio" value="" name="radio" id="radio-2" class="input--radio" />
      <label for="radio-2">Option 2</label>
    </div>

  </fieldset>
</div>
```

```sass
@include radio;
```
*/

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 */

img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  height: auto;
}

/* -----------------------------------------------------------------------------
   Display
----------------------------------------------------------------------------- */

.is-hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* -----------------------------------------------------------------------------
   Alignments
----------------------------------------------------------------------------- */

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.valign-top {
  vertical-align: top !important;
}

.valign-middle {
  vertical-align: middle !important;
}

.valign-bottom {
  vertical-align: bottom !important;
}

.align-start {
  float: left !important;
}

.align-end {
  float: right !important;
}

.align-clear {
  clear: both !important;
}

.outer-wrap {
  position: relative;
}

.wrap {
  display: flow-root;
  max-width: 1280px;
  margin: 0 auto;
}

.wrap:after {
  content: "";
  display: table;
  clear: both;
}

::-moz-selection {
  background-color: #3859a0;
  color: #fff;
}

::selection {
  background-color: #3859a0;
  color: #fff;
}

::-moz-selection {
  background-color: #3859a0;
  color: #fff;
}

html {
  -webkit-tap-highlight-color: rgba(56, 89, 160, 0.5);
  font: 0.625em/1.5 "Open Sans", arial, helvetica, sans-serif;
  color: #333;
  margin: 0;
}

body {
  font-size: 1.2rem;
  background: #3859a0;
  color: #fff;
}

iframe {
  border: 0;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

.list {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

.list:first-child {
  margin-top: 0;
}

.list:last-child {
  margin-bottom: 0;
}

.font--default {
  font-family: "Open Sans", arial, helvetica, sans-serif;
}

.font--alt {
  font-family: arial, helvetica, sans-serif;
}

.main-title {
  margin: 0;
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.options__row,
.form__row {
  position: relative;
  clear: left;
}

.form__row--inline input {
  display: inline-block;
  width: auto;
}

.label--block {
  display: block;
  float: none;
  text-align: left;
  width: auto;
  margin-bottom: 5px;
}

.label--inline {
  display: inline-block;
  float: none;
  text-align: left;
  width: auto;
  line-height: 1.5;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  border: 1px solid #333;
  padding: 10px;
}

.fieldset legend {
  padding: 0 10px;
}

.fieldset--invisible {
  margin: 0;
  padding: 0;
  border: 0;
}

.fieldset--invisible legend {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.input--wide {
  display: block;
  width: 100%;
}

.input--inline {
  display: inline-block;
  width: auto;
}

.input--text {
  margin: 0;
  max-width: 100%;
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 0;
  color: #333;
}

.input--text::-ms-clear {
  display: none;
}

.input--text.placeholder {
  opacity: 1;
  font-style: italic;
}

.input--text:-moz-placeholder {
  opacity: 1;
  font-style: italic;
}

.input--text::-moz-placeholder {
  opacity: 1;
  font-style: italic;
}

.input--text:-ms-input-placeholder {
  opacity: 1;
  font-style: italic;
}

.input--text::-webkit-input-placeholder {
  opacity: 1;
  font-style: italic;
}

.input--textarea {
  margin: 0;
  max-width: 100%;
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 0;
  color: #333;
  min-height: 5em;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.input--textarea::-ms-clear {
  display: none;
}

.input--textarea.placeholder {
  opacity: 1;
  font-style: italic;
}

.input--textarea:-moz-placeholder {
  opacity: 1;
  font-style: italic;
}

.input--textarea::-moz-placeholder {
  opacity: 1;
  font-style: italic;
}

.input--textarea:-ms-input-placeholder {
  opacity: 1;
  font-style: italic;
}

.input--textarea::-webkit-input-placeholder {
  opacity: 1;
  font-style: italic;
}

.input--checkbox:not(:checked),
.input--checkbox:checked {
  position: absolute;
  left: -9999px;
}

.input--checkbox:not(:checked) + label,
.input--checkbox:checked + label {
  cursor: pointer;
  position: relative;
  padding-left: 24px;
}

.input--checkbox:not(:checked) + label:before,
.input--checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  background: #fff;
}

.input--checkbox:not(:checked) + label:hover:before,
.input--checkbox:checked + label:hover:before {
  background-color: #f4f4f4;
}

.input--checkbox:not(:checked) + label:hover:after,
.input--checkbox:checked + label:hover:after {
  background-color: #314e8d;
}

.input--checkbox:not(:checked) + label:after,
.input--checkbox:checked + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #3859a0;
  position: absolute;
  top: 4px;
  left: 4px;
  line-height: 1.2;
  -webkit-animation-name: check;
  animation-name: check;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.input--checkbox:not(:checked):focus + label:before,
.input--checkbox:checked:focus + label:before {
  background-color: #f4f4f4;
}

.input--checkbox:not(:checked):focus + label:after,
.input--checkbox:checked:focus + label:after {
  background-color: #314e8d;
}

.input--checkbox:not(:checked) + label:after {
  display: none;
}

.input--checkbox:checked + label:after {
  display: block;
}

.input--checkbox[disabled]:not(:checked) + label,
.input--checkbox[disabled]:checked + label {
  color: #ccc;
}

.input--checkbox[disabled]:not(:checked) + label:before,
.input--checkbox[disabled]:checked + label:before {
  background-color: #aaa;
}

.input--checkbox[disabled]:not(:checked) + label:after,
.input--checkbox[disabled]:checked + label:after {
  color: #eee;
  background-color: #ddd;
}

.input--checkbox:not(:checked) + label.checkbox-right,
.input--checkbox:checked + label.checkbox-right {
  padding-left: 0;
  padding-right: 20px;
}

.input--checkbox:not(:checked) + label.checkbox-right:before,
.input--checkbox:checked + label.checkbox-right:before {
  left: auto;
  right: 0;
}

.input--checkbox:not(:checked) + label.checkbox-right:after,
.input--checkbox:checked + label.checkbox-right:after {
  left: auto;
  right: 2px;
}

.input--checkbox:not(:checked) + label.label-hidden,
.input--checkbox:checked + label.label-hidden {
  margin-right: 0;
}

.input--checkbox:not(:checked) + label.label-hidden span,
.input--checkbox:checked + label.label-hidden span {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@-webkit-keyframes check {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 50%;
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 50%;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 2px;
  }
}

@keyframes check {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 50%;
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 50%;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 2px;
  }
}

.input--radio:not(:checked),
.input--radio:checked {
  position: absolute;
  left: -9999px;
}

.input--radio:not(:checked) + label,
.input--radio:checked + label {
  cursor: pointer;
  position: relative;
  padding-left: 24px;
}

.input--radio:not(:checked) + label:before,
.input--radio:checked + label:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  background: #fff;
}

.input--radio:not(:checked) + label:hover:before,
.input--radio:checked + label:hover:before {
  background-color: #f4f4f4;
}

.input--radio:not(:checked) + label:hover:after,
.input--radio:checked + label:hover:after {
  background-color: #314e8d;
}

.input--radio:not(:checked) + label:after,
.input--radio:checked + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #3859a0;
  position: absolute;
  top: 4px;
  left: 4px;
  line-height: 1.2;
  -webkit-animation-name: check;
  animation-name: check;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.input--radio:not(:checked):focus + label:before,
.input--radio:checked:focus + label:before {
  background-color: #f4f4f4;
}

.input--radio:not(:checked):focus + label:after,
.input--radio:checked:focus + label:after {
  background-color: #314e8d;
}

.input--radio:not(:checked) + label:after {
  display: none;
}

.input--radio:checked + label:after {
  display: block;
}

.input--radio[disabled]:not(:checked) + label,
.input--radio[disabled]:checked + label {
  color: #ccc;
}

.input--radio[disabled]:not(:checked) + label:before,
.input--radio[disabled]:checked + label:before {
  background-color: #aaa;
}

.input--radio[disabled]:not(:checked) + label:after,
.input--radio[disabled]:checked + label:after {
  color: #eee;
  background-color: #ddd;
}

.input--radio:not(:checked) + label.checkbox-right,
.input--radio:checked + label.checkbox-right {
  padding-left: 0;
  padding-right: 20px;
}

.input--radio:not(:checked) + label.checkbox-right:before,
.input--radio:checked + label.checkbox-right:before {
  left: auto;
  right: 0;
}

.input--radio:not(:checked) + label.checkbox-right:after,
.input--radio:checked + label.checkbox-right:after {
  left: auto;
  right: 2px;
}

.input--radio:not(:checked) + label.label-hidden,
.input--radio:checked + label.label-hidden {
  margin-right: 0;
}

.input--radio:not(:checked) + label.label-hidden span,
.input--radio:checked + label.label-hidden span {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@keyframes check {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 50%;
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 50%;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 2px;
  }
}

.input--radio:not(:checked) + label:before,
.input--radio:checked + label:before {
  border-radius: 50%;
}

.input--radio:not(:checked) + label:after,
.input--radio:checked + label:after {
  border-radius: 50%;
  -webkit-animation-name: check-radio;
  animation-name: check-radio;
}

@-webkit-keyframes check-radio {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes check-radio {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.input--select {
  max-width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 0;
  color: #333;
  background-image: url("../img/select-arrows.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.input--select::-ms-expand {
  display: none;
}

.btn {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
  line-height: 1.2;
  font-size: inherit;
  font-family: inherit;
}

.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
}

.btn--wide {
  display: block;
  width: 100%;
  float: none;
  text-align: center;
}

.score__actions {
  position: absolute;
  top: calc(100% + 20px);
  left: 10px;
  right: 10px;
  text-align: center;
  border-radius: 10px;
  min-height: 200px;
}

.score__actions button {
  display: table-cell;
  vertical-align: middle;
}

.score__actions-bullet {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
}

.score__actions-bullet:before {
  content: '';
  color: #fff;
  text-align: center;
  line-height: 1;
  font-size: 3rem;
  display: block;
  width: 40px;
  height: 40px;
  background: #ff4f46;
  border-radius: 50%;
}

.score__row--is-active {
  z-index: 1;
}

.score__row--is-active .score__actions-bullet {
  -webkit-animation: curve 200ms ease-out 1 normal forwards;
  animation: curve 200ms ease-out 1 normal forwards;
}

.score__row--is-active .score__actions-bullet:before {
  -webkit-animation: scale 500ms ease-out 1 normal forwards;
  animation: scale 500ms ease-out 1 normal forwards;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

@-webkit-keyframes move-modal {
  to {
    -webkit-transform: translate3d(-150px, 100px, 0);
    transform: translate3d(-150px, 100px, 0);
  }
}

@keyframes move-modal {
  to {
    -webkit-transform: translate3d(-150px, 100px, 0);
    transform: translate3d(-150px, 100px, 0);
  }
}

@-webkit-keyframes curve {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes curve {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes scale {
  to {
    -webkit-transform: scale(20);
    transform: scale(20);
  }
}

@keyframes scale {
  to {
    -webkit-transform: scale(20);
    transform: scale(20);
  }
}

.main-header {
  display: flow-root;
}

.main-header:after {
  content: "";
  display: table;
  clear: both;
}

.main-footer {
  display: flow-root;
}

.main-footer:after {
  content: "";
  display: table;
  clear: both;
}

.score {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0;
  margin: 20px 0;
  font-size: 2rem;
}

@media only screen and (min-width: 30em) {
  .score {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 48em) {
  .score {
    grid-template-columns: repeat(1, 1fr);
  }
}

.score__row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
}

.modal-open .score__row:not(.score__row--is-active) {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.score__row:nth-child(odd) {
  background: rgba(255, 255, 255, 0.1);
}

.score__row > div {
  padding: 10px;
}

.score__name {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.1;
}

.score__total {
  grid-row: 1 / 2;
  grid-column: 8 / 13;
  background: rgba(0, 0, 0, 0.4);
}

.score__btn {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  display: block;
  width: 100%;
  position: relative;
  color: #fff;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  font-weight: 300;
  text-align: right;
  font-size: 4em;
  line-height: 1;
  cursor: pointer;
}

.score__actions-inner {
  display: none;
}

.btn {
  margin: 0;
  padding: 0;
  border: 0;
  background: #2b447a;
  padding: 10px;
  font-size: 1.4em;
  border-radius: 5px;
  text-align: center;
  width: 3em;
  color: #fff;
}

.btn:not(:last-child) {
  margin-right: 10px;
}

@media only screen and (min-width: 62em) {
  .btn {
    font-size: 2em;
  }
}

.btn--zero {
  background: #ff6e69;
}

.modal-add {
  display: none;
  position: fixed;
  background: #ccc;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
}

.modal-add select {
  font-size: 2rem;
}

.modal-add__inner {
  text-align: center;
}