<!DOCTYPE html>
<html lang="fr" xmlns:og="http://ogp.me/ns#">
<head>

  <!-- @@include('includes/head.html', { "title": "Score" }) -->

</head>

<body>

<div class="outer-wrap">
<div class="wrap">

  <div id="app" class="app" :class="{ 'modal-is-open': modal_visible }">

    <!-- @@include('includes/header.html') -->
    <!-- @@include('includes/modals.html') -->

    <div class="winner" v-if="score_limit > 0">Le premier joueur à <strong @click="showModal('options', 'score_limit')">{{ score_limit }} points</strong>.</div>

    <section class="player-list">
      <!-- @@include('includes/player.html') -->
    </section><!--/player-list-->

    <button type="button" class="logs__cancel" @click.prevent="cancel" v-bind:tabindex="body_tabindex" aria-label="Annuler"><span>Annuler</span></button>

    <section class="logs">

      <button type="button" class="logs__trigger" @click.prevent="pass_the_hand" v-bind:tabindex="body_tabindex">Passer la main</button>

      <template v-if="logs.length">

        <button type="button" class="logs__trigger" @click.prevent="toggle_history" :class="{ 'history-is-open': history_visible }" v-bind:aria-expanded="history_visible ? 'true' : 'false'" v-bind:tabindex="body_tabindex"><template v-if="!history_visible">Afficher</template><template v-else>Masquer</template> l'historique</button>

        <ul v-if="history_visible">
          <log v-if="logs"
            v-for="log in logs"
            :log="log"
            :key="log.id"
            @rollback="rollback">
          </log>
        </ul>

      </template>

    </section>

  </div><!--/app-->


</div><!--/wrap-->
</div><!--/outer-wrap-->

</body>
</html>
