
// Reset button.
//
// @include btn--default;
@mixin btn-default {
  @include reset-box-model;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
  line-height: 1.2;
  font-size: inherit;
  font-family: inherit;

  @include hover {
    text-decoration: none;
  }

}


// Helpers.

@mixin btn--wide {
  display: block;
  width: 100%;
  float: none;
  text-align: center;
}

@mixin btn--large {
  padding: 15px 25px;
}

@mixin btn--small {
  padding: 2px 5px;
  font-size: em(12px);
}



// -----------------------------------------------------------------------------
// Styles
// -----------------------------------------------------------------------------

/*
---
name: Bouton par défaut
category: Boutons et liens
---

Appliquer ce style pour obtenir un bouton stylé.

```html
<a href="#" class="btn">Bouton basique</a>
```

```sass
@include btn;
```
*/
@mixin btn {
  @include btn-default;

  //@include hover {

  //}

  // Pushed
  //&:active {

  //}

}

