
// Class name suggestions :
// * list--dot
// * list--square
// * list--dash


// Remove lists default style.
//
// ul {
//   @include list--default;
// }
@mixin list--default {
  margin: 1em 0;
  padding: 0;
  list-style: none;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}


// Default list theme.
//
// ul {
//   @include list;
// }
@mixin list {
  @include list--default;
}

