
.font--default { font-family: $font-stack; }
.font--alt     { font-family: $font-stack-alt; }


.main-title {
  margin: 0;
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}
