
// Make columns.
//
// @include layout((
//   'col-count': 3,
//   'margin': 3%,
//   'wrap': wrap
// )...);
@mixin layout($col-count: 2, $margin: 0, $wrap: nowrap, $selector: 'div') {
  display: flex;
  flex-flow: row $wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  > #{$selector} {
    flex-basis: 100% / $col-count - $margin;
    flex-grow: 0;
    flex-shrink: 0;
  }

  // Add final element for last row alignement.
  @if $wrap == 'wrap' {
    .filler,
    &:after {
      content: '';
      flex-basis: 100% / $col-count - $margin;
    }
  }
  @else {

    &:after {
      display: none;
    }

  }

}
